@font-face {
    font-family: 'MabinogiClassicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
div{
  display: inline;
  font-family: 'MabinogiClassicR';
}
ul.util_menu_ul ,li{
  display: inline-block;
}


#wrap{
  position: relative;
  width: 100%;
  float:left;
  background-color: #C4F4FE;
  border-radius: 20px 20px 0px 0px;
}
div.top_left{
  float:left;
}
div.top_right{
  float:right;
  display: inline-block;
}


#top_right_login_btn{
  font-family: 'MabinogiClassicR';
}
